* {
  margin: 0;
}

h1 {
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  color: khaki;
  background-image: url(./images/pattern.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 20px;
  position: relative;
  margin-bottom: 50px;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.brushes {
    background-color: mediumspringgreen;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    margin-bottom: 25px;
}

.frames {
  background-color: lightcoral;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  margin-bottom: 25px;
}

.paint {
  background-color: skyblue;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  margin-bottom: 25px;

}

img {
  margin-left: 10px;
  margin-bottom: 25px;
}

h3 {
  font-family: Helvetica;
  font-size: 25px;
  font-weight: bold;
  color: black;
  margin-bottom: 25px;
  margin-left: 10px;
}

p {
  font-family: Helvetica;
  font-size: 20px;
  color: black;
  margin-bottom: 25px;
  margin-left: 10px;
}

span {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}
